/* FUENTES */
@font-face {
  font-family: julyit;
  src: url(../fuentes/julyit.otf);
}
@font-face {
  font-family: advent;
  src: url(../fuentes/advent.otf);
}
@font-face {
  font-family: tiffanyscript;
  src: url(../fuentes/tiffanyscript.ttf);
}
/* COLORES BACKGROUND */
/* TITULO 1 */
/* TITULO 2 */
/* TITULO 3 */
/* PARRAFO */
/* HEADER - LOGO - NAVBAR */
/* IMAGENES */
/* BOTONES */
/* FOOTER */
header {
  grid-area: header;
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 2;
}
header .logo img {
  width: 150px;
  margin-left: 50px;
  margin-top: 10px;
}
header .menu {
  font-family: Antonio;
  font-size: 2rem;
  color: #4b4b4b;
  padding-right: 50px;
}
header #menu2 {
  padding-left: 20px;
}

@media (max-width: 768px) {
  header {
    width: 100vw;
    height: 7vh;
  }
  header .logo img {
    width: 130px;
    margin-left: 30px;
    margin-right: 100px;
    margin-top: 3px;
  }
  header .menu {
    text-align: center;
    font-size: 2rem;
  }
}
@media (max-width: 320px) {
  header {
    height: 5px;
  }
  header .logo img {
    width: 90px;
    margin-left: 20px;
  }
  header .menu {
    padding-right: 20px;
  }
}
footer {
  grid-area: footer;
  width: 100%;
  background-color: #4b4b4b;
  height: 13vh;
}
footer .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .redes img {
  height: 55px;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 30px;
}

@media (max-width: 768px) {
  footer {
    height: 8vh;
  }
  footer .redes img {
    height: 35px;
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 320px) {
  footer .redes img {
    height: 25px;
  }
}
.grid_container_index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7 1fr);
  grid-template-areas: "header" "main" "seccion1" "seccion2" "seccion3" "seccion4" "footer";
}
.grid_container_index main {
  grid-area: main;
  background-image: url(../img/portada_home.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid_container_index main h1 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
.grid_container_index main .boton_flecha img {
  height: 100px;
}
.grid_container_index main .boton_flecha {
  position: absolute;
  bottom: 120px;
}
.grid_container_index section {
  width: 100%;
}
.grid_container_index .seccion1 {
  grid-area: seccion1;
  background-color: #f4f1e9;
  padding: 250px;
  height: 100vh;
}
.grid_container_index .seccion1 h2 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  text-align: center;
  line-height: 6rem;
}
.grid_container_index .seccion1 p {
  font-family: "Antonio", sans-serif;
  font-size: 25px;
  color: #4b4b4b;
  text-align: center;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}
.grid_container_index .seccion2 {
  grid-area: seccion2;
  height: 100vh;
  background-color: #faf9f7;
  text-align: center;
  padding: 150px;
}
.grid_container_index .seccion2 h2 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  text-align: center;
}
.grid_container_index .seccion2 .home_lista_servicios img {
  height: 150px;
}
.grid_container_index .seccion2 .home_lista_servicios {
  margin-top: 100px;
}
.grid_container_index .seccion2 ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.grid_container_index .seccion2 h3 {
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  color: black;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.grid_container_index .seccion2 p {
  font-family: "Antonio", sans-serif;
  font-size: 20px;
  color: #4b4b4b;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.grid_container_index .seccion2 .boton {
  color: #f4f1e9;
  background-color: #4b4b4b;
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  width: 170px;
  height: 60px;
  border-radius: 15px;
  border: none;
  margin-top: 100px;
}
.grid_container_index .seccion2 .boton:hover {
  background-color: #dbdbdb;
  color: #4b4b4b;
}
.grid_container_index .seccion3 {
  grid-area: seccion3;
  background-color: #f4f1e9;
  text-align: center;
}
.grid_container_index .seccion3 .seccion3_boton {
  height: 15vh;
}
.grid_container_index .seccion3 .boton {
  color: #f4f1e9;
  background-color: #4b4b4b;
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  width: 170px;
  height: 60px;
  border-radius: 15px;
  border: none;
  margin-top: 30px;
}
.grid_container_index .seccion3 .boton:hover {
  background-color: #dbdbdb;
  color: #4b4b4b;
}
.grid_container_index .seccion4 {
  grid-area: seccion4;
  background-image: url(../img/portada_home2.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.grid_container_index .seccion4 h2 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  text-align: center;
}
.grid_container_index .seccion4 .boton {
  color: #f4f1e9;
  background-color: #4b4b4b;
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  width: 170px;
  height: 60px;
  border-radius: 15px;
  border: none;
  margin-top: 100px;
}
.grid_container_index .seccion4 .boton:hover {
  background-color: #dbdbdb;
  color: #4b4b4b;
}

@media (max-width: 768px) {
  .grid_container_index main {
    height: 100vh;
    width: 100vw;
  }
  .grid_container_index main h1 {
    font-size: 3rem;
    line-height: 6rem;
  }
  .grid_container_index main .boton_flecha img {
    height: 80px;
  }
  .grid_container_index main .boton_flecha {
    bottom: 200px;
  }
  .grid_container_index section {
    width: 100vw;
    justify-content: center;
  }
  .grid_container_index .seccion1 {
    padding: 5px;
    display: flex;
    align-items: center;
  }
  .grid_container_index .seccion1 h2 {
    font-size: 3rem;
    padding-left: 50px;
    padding-right: 50px;
  }
  .grid_container_index .seccion1 p {
    font-size: 20px;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .grid_container_index .seccion2 {
    height: 100%;
    padding: 15px;
  }
  .grid_container_index .seccion2 h2 {
    padding-top: 100px;
    font-size: 3rem;
  }
  .grid_container_index .seccion2 ul {
    flex-direction: column;
  }
  .grid_container_index .seccion2 h3 {
    font-size: 2rem;
  }
  .grid_container_index .seccion2 p {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .grid_container_index .seccion2 .home_lista_servicios img {
    height: 120px;
  }
  .grid_container_index .seccion2 li {
    padding-top: 50px;
  }
  .grid_container_index .seccion2 .boton {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2rem;
    width: 120px;
    height: 50px;
  }
  .grid_container_index .seccion3 .boton {
    margin-top: 30px;
    font-size: 2rem;
    width: 120px;
    height: 50px;
  }
  .grid_container_index .seccion4 h2 {
    font-size: 3rem;
    line-height: 6rem;
  }
  .grid_container_index .seccion4 .boton {
    font-size: 2rem;
    width: 120px;
    height: 50px;
  }
}
@media (max-width: 320px) {
  .grid_container_index main h1 {
    font-size: 2.5rem;
    line-height: 5rem;
  }
  .grid_container_index main .boton_flecha img {
    height: 60px;
  }
  .grid_container_index main .boton_flecha {
    bottom: 100px;
  }
}
.grid_container_servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4 1fr);
  grid-template-areas: "header" "main" "seccion" "footer";
}
.grid_container_servicios main {
  grid-area: main;
  background-image: url(../img/portada_servicios.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid_container_servicios main h1 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
.grid_container_servicios section {
  grid-area: seccion;
  display: flex;
  flex-direction: column;
}
.grid_container_servicios section li img {
  height: 200px;
}
.grid_container_servicios section #lista_servicios_left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f7;
  text-align: left;
  padding: 150px;
}
.grid_container_servicios section #lista_servicios_right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f1e9;
  text-align: right;
  padding: 150px;
}
.grid_container_servicios section h2 {
  font-family: "Antonio", sans-serif;
  font-size: 3.5rem;
  color: black;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.grid_container_servicios section p {
  font-family: "Antonio", sans-serif;
  color: #4b4b4b;
  font-size: 2rem;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .grid_container_servicios {
    width: 100vw;
  }
  .grid_container_servicios main {
    height: 100vh;
    width: 100vw;
  }
  .grid_container_servicios main h1 {
    font-size: 3rem;
  }
  .grid_container_servicios section {
    width: 100vw;
  }
  .grid_container_servicios section li img {
    height: 100px;
  }
  .grid_container_servicios section li {
    height: 50vh;
    overflow: hidden;
  }
  .grid_container_servicios section #lista_servicios_left {
    padding: 20px;
  }
  .grid_container_servicios section #lista_servicios_right {
    padding: 20px;
  }
  .grid_container_servicios section h2 {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2.5rem;
  }
  .grid_container_servicios section p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5rem;
  }
}
@media (max-width: 320px) {
  .grid_container_servicios section li img {
    height: 80px;
  }
  .grid_container_servicios section #lista_servicios_left {
    padding: 10px;
  }
  .grid_container_servicios section #lista_servicios_right {
    padding: 10px;
  }
  .grid_container_servicios section h2 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid_container_servicios section p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
.grid_container_portfolio {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5 1fr);
  grid-template-areas: "header" "main" "seccion_menu" "seccion_imagenes" "footer";
}
.grid_container_portfolio main {
  grid-area: main;
  background-image: url(../img/portada_portfolio.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid_container_portfolio main h1 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
.grid_container_portfolio .seccion_menu_portfolio {
  grid-area: seccion_menu;
  height: 100px;
  background-color: #f4f1e9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.grid_container_portfolio .seccion_menu_portfolio li {
  font-family: "Antonio", sans-serif;
  font-size: 3rem;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
}
.grid_container_portfolio .seccion_menu_portfolio li a {
  color: #4b4b4b;
}
.grid_container_portfolio .seccion_imagenes_portfolio {
  grid-area: seccion_imagenes;
}
.grid_container_portfolio .seccion_imagenes_portfolio img {
  width: 100%;
}
.grid_container_portfolio .imagenes_portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
  justify-items: center;
}
.grid_container_portfolio .imagenes_portfolio li {
  position: relative;
  height: fit-content;
  cursor: pointer;
}
.grid_container_portfolio .efecto_imagenes_portfolio {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #faf9f7;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  opacity: 0;
}
.grid_container_portfolio .efecto_imagenes_portfolio:hover {
  opacity: 0.7;
}
.grid_container_portfolio .botonmas_imagenes_portfolio {
  font-family: "Antonio", sans-serif;
  font-size: 5rem;
  background-color: transparent;
  border-radius: 20px;
  border-color: #4b4b4b;
  width: 50px;
  height: 50px;
  line-height: 0.5;
}
.grid_container_portfolio #exteriores {
  margin-top: 5px;
}
.grid_container_portfolio #interiores {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .grid_container_portfolio main {
    height: 100vh;
    width: 100vw;
  }
  .grid_container_portfolio main h1 {
    font-size: 3rem;
  }
  .grid_container_portfolio .seccion_menu_portfolio {
    height: 50px;
  }
  .grid_container_portfolio .seccion_menu_portfolio li {
    font-size: 1.7rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid_container_portfolio .imagenes_portfolio {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .grid_container_portfolio .seccion_menu_portfolio {
    height: 50px;
  }
  .grid_container_portfolio .seccion_menu_portfolio li {
    font-size: 1.3rem;
  }
}
.grid_container_cursos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4 1fr);
  grid-template-areas: "header" "main" "seccion" "footer";
}
.grid_container_cursos main {
  grid-area: main;
  background-image: url(../img/portada_cursos.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid_container_cursos main h1 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
.grid_container_cursos section {
  grid-area: seccion;
  display: flex;
  flex-direction: column;
}
.grid_container_cursos section li img {
  height: 200px;
}
.grid_container_cursos section #lista_servicios_left {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #faf9f7;
  text-align: left;
  padding: 150px;
}
.grid_container_cursos section #lista_servicios_right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f1e9;
  text-align: right;
  padding: 150px;
}
.grid_container_cursos section h2 {
  font-family: "Antonio", sans-serif;
  font-size: 3.5rem;
  color: black;
  padding-bottom: 20px;
  padding-left: 100px;
  padding-right: 100px;
}
.grid_container_cursos section p {
  font-family: "Antonio", sans-serif;
  color: #4b4b4b;
  font-size: 2rem;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  .grid_container_cursos main {
    height: 100vh;
    width: 100vw;
  }
  .grid_container_cursos main h1 {
    font-size: 3rem;
  }
  .grid_container_cursos section {
    width: 100vw;
  }
  .grid_container_cursos section li img {
    height: 100px;
  }
  .grid_container_cursos section li {
    height: 50vh;
    overflow: hidden;
  }
  .grid_container_cursos section #lista_servicios_left {
    padding: 15px;
  }
  .grid_container_cursos section #lista_servicios_right {
    padding: 15px;
  }
  .grid_container_cursos section h2 {
    font-size: 2.5rem;
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid_container_cursos section p {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.5rem;
  }
}
.grid_container_contacto {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5 1fr);
  grid-template-areas: "header" "main" "seccion" "formulario" "footer";
}
.grid_container_contacto main {
  grid-area: main;
  background-image: url(../img/portada_contacto.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.grid_container_contacto main h1 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  font-weight: bold;
  text-align: center;
}
.grid_container_contacto section {
  width: 100%;
}
.grid_container_contacto section h2 {
  font-family: tiffanyscript;
  font-size: 4rem;
  color: black;
  text-align: center;
}
.grid_container_contacto .seccion_contacto {
  grid-area: seccion;
  background-color: #faf9f7;
  padding: 250px;
  height: 100vh;
}
.grid_container_contacto .seccion_contacto p {
  font-family: "Antonio", sans-serif;
  font-size: 25px;
  color: #4b4b4b;
  text-align: center;
  padding-top: 150px;
  padding-left: 100px;
  padding-right: 100px;
}
.grid_container_contacto .formulario_contacto {
  grid-area: formulario;
  background-color: #f4f1e9;
  height: 100vh;
  padding-top: 70px;
  padding-bottom: 50px;
  text-align: center;
}
.grid_container_contacto form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.grid_container_contacto form .texto_formulario {
  background-color: #DBDBDB;
  color: black;
  font-family: "Antonio", sans-serif;
  font-size: 2rem;
  text-align: left;
  padding-left: 20px;
  width: 800px;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
}
.grid_container_contacto form #box_1 {
  height: 50px;
}
.grid_container_contacto form #box_2 {
  height: 200px;
}
.grid_container_contacto form .boton {
  color: #f4f1e9;
  background-color: #4b4b4b;
  font-family: "Antonio", sans-serif;
  font-size: 2.5rem;
  text-align: center;
  width: 170px;
  height: 60px;
  border-radius: 15px;
  border: none;
  margin-top: 50px;
}
.grid_container_contacto form .boton:hover {
  background-color: #dbdbdb;
  color: #4b4b4b;
}

@media (max-width: 768px) {
  .grid_container_contacto main {
    height: 100vh;
    width: 100vw;
  }
  .grid_container_contacto main h1 {
    font-size: 3rem;
  }
  .grid_container_contacto section {
    width: 100vw;
    display: flex;
    align-items: center;
  }
  .grid_container_contacto section h2 {
    font-size: 2.5rem;
    padding-top: 30px;
    line-height: 6rem;
  }
  .grid_container_contacto .seccion_contacto {
    padding: 30px;
  }
  .grid_container_contacto .seccion_contacto p {
    font-size: 20px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .grid_container_contacto .formulario_contacto {
    flex-direction: column;
    height: 100%;
    padding-top: 30px;
  }
  .grid_container_contacto .formulario_contacto article {
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid_container_contacto form {
    margin-top: 30px;
  }
  .grid_container_contacto form .texto_formulario {
    width: 300px;
    font-size: 1.7rem;
    border-radius: 10px;
  }
  .grid_container_contacto form #box_1 {
    height: 35px;
  }
  .grid_container_contacto form #box_2 {
    height: 170px;
  }
  .grid_container_contacto form .boton {
    font-size: 2rem;
    width: 120px;
    height: 50px;
  }
}
@media (max-width: 320px) {
  .grid_container_contacto form .texto_formulario {
    width: 250px;
  }
}
@media (max-width: 1200px) {
  .grid_container_contacto section h2 {
    line-height: 6rem;
  }
  .grid_container_contacto .seccion_contacto p {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .grid_container_contacto .formulario_contacto {
    padding-top: 120px;
  }
  .grid_container_contacto form .texto_formulario {
    width: 600px;
  }
}
/* GENERALES */
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

/*# sourceMappingURL=estilos.css.map */
