@use './variables.scss';
@use './header.scss';
@use './footer.scss';

.grid_container_contacto{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas: 
        "header"
        "main"
        "seccion"
        "formulario"
        "footer";
    main{
        grid-area: main;
        background-image: url(../img/portada_contacto.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: variables.$width_header;
        h1{
            font-family: variables.$font_h1;
            font-size: variables.$size_h1;
            color: variables.$color_h1;
            font-weight: variables.$font_weight_h1;
            text-align: center;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section{
        width: variables.$width_header;
        h2{
            font-family: variables.$font_h2;
            font-size: variables.$size_h2;
            color: variables.$color_h2;
            text-align: variables.$text_align_h2;
        }
    }
    .seccion_contacto{
        grid-area: seccion;
        background-color: variables.$background_color_1;
        padding: 250px;
        height: 100vh;
        p{
            font-family: variables.$font_p;
            font-size: variables.$size_p1;
            color: variables.$color_p;
            text-align: center;
            padding-top: 150px;
            padding-left: 100px;
            padding-right: 100px;        
        }
    }
    .formulario_contacto{
        grid-area: formulario;
        background-color: variables.$background_color_2;
        height: 100vh;
        padding-top: 70px;
        padding-bottom: 50px;
        text-align: center; 
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        .texto_formulario{
            background-color: #DBDBDB;
            color: black;
            font-family: variables.$font_p;
            font-size: 2rem;
            text-align:left;
            padding-left: 20px;
            width: 800px;
            border-radius: 15px;
            border: none;
            margin-top: 20px;    
        }
        #box_1{
            height: 50px;
        }
        #box_2{
            height: 200px;
        }
        .boton{
            color: variables.$color_boton1;
            background-color: variables.$background_color_boton1;
            font-family: variables.$font_boton1;
            font-size: variables.$size_boton1;
            text-align: variables.$text_align_boton1;
            width: variables.$width_boton1;
            height: variables.$height_boton1;
            border-radius: variables.$border_radius_boton1;
            border: variables.$border_boton1;
            margin-top: 50px;
            &:hover{
                background-color: variables.$background_color_hover_boton1;
                color: variables.$color_font_hover_boton1;
            }
        }
    }
}


@media (max-width: 768px) {

    .grid_container_contacto{
        
        main{
            height: 100vh;
            width: 100vw;
            h1{
                font-size: variables.$size_h1_r;
            }
        }

        section{
            width: 100vw;
            display: flex;
            align-items: center;
            h2{
                font-size: 2.5rem;
                padding-top: 30px;
                line-height: 6rem;
            }
        }

        .seccion_contacto{
            padding: 30px;
            p{
                font-size: variables.$size_p1_r;
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px; 
            }
        }

        .formulario_contacto{
            flex-direction: column;
            height: 100%;
            padding-top: 30px;
            article{
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        form{
            margin-top: 30px;
            .texto_formulario{
            width: 300px;
            font-size: 1.7rem;
            border-radius: 10px;
            }
            #box_1{
                height: 35px;
            }
            #box_2{
                height: 170px;
            }
            .boton{
                font-size: variables.$size_boton1_r;
                width: variables.$width_boton1_r;
                height: variables.$height_boton1_r;
            }
        }
    }
}

@media (max-width: 1200px) {

    .grid_container_contacto{
        section{
            h2{
                line-height: 6rem;
            }
        }
        .seccion_contacto{
            p{
                padding-top: 70px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
        .formulario_contacto{
            padding-top: 120px;
        }

    }

}