@use './variables.scss';

header{
    grid-area: header;
    width: variables.$width_header;
    height: variables.$height_header;
    position: sticky;
    top: 0;
    z-index: 2;
    .logo img{
        width: variables.$width_logo;
        margin-left: variables.$margin_left_logo;
        margin-top: variables.$margin_top_logo;
    }
    .menu{
        font-family: variables.$font_family_menu;
        font-size: variables.$font_size_menu;
        color: variables.$font_color_menu;
        padding-right: variables.$padding-right_menu;
    }
    #menu2{
        padding-left: variables.$padding_left_menu2;
    }
}


@media (max-width: 768px) {

    header{
        width: variables.$width_header_r;
        height: variables.$height_header_r;
        .logo img{
            width: variables.$width_logo_r;
            margin-left: 30px;
            margin-right: 100px;
            margin-top: 3px;
        }
        .menu{
            text-align: center;
            font-size: variables.$font_size_menu_r;
        }
    }
}


@media (max-width: 320px) {
    header{
        height: 5px;
        .logo img{
            width: 90px;
            margin-left: 20px;
        }
        .menu{
            padding-right: 20px;  
        }
    }
}