@use './variables.scss';
@use './header.scss';
@use './footer.scss';

.grid_container_index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7 1fr);
    grid-template-areas:
        "header"
        "main"
        "seccion1"
        "seccion2"
        "seccion3"
        "seccion4"
        "footer";
    main{
        grid-area: main;
        background-image: url(../img/portada_home.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: variables.$width_header;
        h1{
            font-family: variables.$font_h1;
            font-size: variables.$size_h1;
            color: variables.$color_h1;
            font-weight: variables.$font_weight_h1;
            text-align: center;
        }
        .boton_flecha img{
            height: 100px;
        }
        position: relative;
        .boton_flecha{
            position: absolute;
            bottom: 120px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section{
        width: variables.$width_header;
    }
    .seccion1{
        grid-area: seccion1;
        background-color: variables.$background_color_2;
        padding: 250px;
        height: 100vh;
        h2{
            font-family: variables.$font_h2;
            font-size: variables.$size_h2;
            color: variables.$color_h2;
            text-align: variables.$text_align_h2;
            line-height: 6rem;
        }
        p{
            font-family: variables.$font_p;
            font-size: variables.$size_p1;
            color: variables.$color_p;
            text-align: center;
            padding-top: 150px;
            padding-left: 100px;
            padding-right: 100px;        
        }
    }
    .seccion2{
        grid-area: seccion2;
        height: 100vh;
        background-color: variables.$background_color_1;
        text-align: center;
        h2{
            font-family: variables.$font_h2;
            font-size: variables.$size_h2;
            color: variables.$color_h2;
            text-align: variables.$text_align_h2;
        }
        padding: 150px;
        .home_lista_servicios img{
            height: 150px;
        }
        .home_lista_servicios{
            margin-top: 100px;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        h3{
            font-family: variables.$font_h3;
            font-size: variables.$size_h3;
            color: variables.$color_h3;
            text-align: variables.$text_align_h3;
            margin-top: 20px;
            padding-bottom: 20px;
        }
        p{
            font-family: variables.$font_p;
            font-size: variables.$size_p2;
            color: variables.$color_p;
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
        }
        .boton{
            color: variables.$color_boton1;
            background-color: variables.$background_color_boton1;
            font-family: variables.$font_boton1;
            font-size: variables.$size_boton1;
            text-align: variables.$text_align_boton1;
            width: variables.$width_boton1;
            height: variables.$height_boton1;
            border-radius: variables.$border_radius_boton1;
            border: variables.$border_boton1;
            margin-top: 100px;
            &:hover{
                background-color: variables.$background_color_hover_boton1;
                color: variables.$color_font_hover_boton1;
            }
        }
    }
    .seccion3{
        grid-area: seccion3;
        background-color: variables.$background_color_2;
        text-align: center;
        .seccion3_boton{
            height: 15vh;
        }
        .boton{
            color: variables.$color_boton1;
            background-color: variables.$background_color_boton1;
            font-family: variables.$font_boton1;
            font-size: variables.$size_boton1;
            text-align: variables.$text_align_boton1;
            width: variables.$width_boton1;
            height: variables.$height_boton1;
            border-radius: variables.$border_radius_boton1;
            border: variables.$border_boton1;
            margin-top: 30px;
            &:hover{
                background-color: variables.$background_color_hover_boton1;
                color: variables.$color_font_hover_boton1;
            }
        }
    }
    .seccion4{
        grid-area: seccion4;
        background-image: url(../img/portada_home2.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: variables.$width_header;
        h2{
            font-family: variables.$font_h2;
            font-size: variables.$size_h2;
            color: variables.$color_h2;
            text-align: center;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .boton{
            color: variables.$color_boton1;
            background-color: variables.$background_color_boton1;
            font-family: variables.$font_boton1;
            font-size: variables.$size_boton1;
            text-align: variables.$text_align_boton1;
            width: variables.$width_boton1;
            height: variables.$height_boton1;
            border-radius: variables.$border_radius_boton1;
            border: variables.$border_boton1;
            margin-top: 100px;
            &:hover{
                background-color: variables.$background_color_hover_boton1;
                color: variables.$color_font_hover_boton1;
            }
        }
        text-align: center;
    }
}

@media (max-width: 768px) {

    .grid_container_index{
        
        main{
            height: 100vh;
            width: 100vw;
            h1{
                font-size: variables.$size_h1_r;
                line-height: 6rem;
            }
            .boton_flecha img{
                height: 80px;
            }
            .boton_flecha{
                bottom: 200px;
            }
        }

        section{
            width: 100vw;
            justify-content: center;
        }
    
        .seccion1{
            padding: 5px;
            display: flex;
            align-items: center;
            h2{
                font-size: variables.$size_h2_r;
                padding-left: 50px;
                padding-right: 50px;
            }
            p{
                font-size: variables.$size_p1_r;
                padding-top: 70px;
                padding-left: 50px;
                padding-right: 50px;
                
            }
        }

        .seccion2{
            height: 100%;
            padding: 15px;  
            h2{
                padding-top: 100px;
                font-size: variables.$size_h2_r;
            }
            ul{
                flex-direction: column; 
            }
            h3{
                font-size: variables.$size_h3_r;
            }
            p{
                font-size: variables.$size_p2_r;
                padding-left: 15px;
                padding-right: 15px;
            }
            .home_lista_servicios img{
                height: 120px;
            }
            li{
                padding-top: 50px;
            }
            .boton{
                margin-top: 30px;
                margin-bottom: 30px;
                font-size: variables.$size_boton1_r;
                width: variables.$width_boton1_r;
                height: variables.$height_boton1_r;
            }
        }

        .seccion3{
            .boton{
                margin-top: 30px;
                font-size: variables.$size_boton1_r;
                width: variables.$width_boton1_r;
                height: variables.$height_boton1_r;
            }
        }

        .seccion4{
            h2{
                font-size: variables.$size_h2_r;
                line-height: 6rem;
            }
            .boton{
                font-size: variables.$size_boton1_r;
                width: variables.$width_boton1_r;
                height: variables.$height_boton1_r;
            }
        }
    }
}