@use './variables.scss';

.grid_container_portfolio{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5 1fr);
    grid-template-areas:
        "header"
        "main"
        "seccion_menu"
        "seccion_imagenes"
        "footer";
    header{
        grid-area: header;
        width: variables.$width_header;
        height: variables.$height_header;
        background-color: variables.$background_color_1;
        display: flex;
        position: sticky;
        top: 0;
        z-index: 2;
        .logo img{
            width: variables.$width_logo;
            margin-left: variables.$margin_left_logo;
            margin-top: variables.$margin_top_logo;
        }
        .menu{
            font-family: variables.$font_family_menu;
            font-size: variables.$font_size_menu;
            color: variables.$font_color_menu;
        }
        #menu2{
            padding-left: variables.$padding_left_menu2;
        }
    }
    main{
        grid-area: main;
        background-image: url(../img/portada_portfolio.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: variables.$width_header;
        h1{
            font-family: variables.$font_h1;
            font-size: variables.$size_h1;
            color: variables.$color_h1;
            font-weight: variables.$font_weight_h1;
            text-align: center;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .seccion_menu_portfolio{
        grid-area: seccion_menu;
        height: 100px;
        background-color: variables.$background_color_2;
        display: flex;
        justify-content: center;
        align-items: center;
        li{
            font-family: variables.$font_h3;
            font-size: 3rem;
            color: variables.$color_h3;
            padding-left: 25px;
            padding-right: 25px;   
        }
    }
    .seccion_imagenes_portfolio{
        grid-area: seccion_imagenes;   
    }
    .seccion_imagenes_portfolio img{
        width: variables.$width_header;
    }
    .imagenes_portfolio{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 5px;
        row-gap: 5px;
        justify-items: center;
        img{
            cursor: pointer;
            transition: all 0.5s; 
            &:hover{
                transform: scale(1.2);
            }
        }
    }
    #exteriores{
        margin-top: 5px;
    }
    #interiores{
        margin-top: 5px;
        margin-bottom: 5px;
    }
    footer{
        grid-area: footer;
        width: variables.$width_header;
        background-color: variables.$background_color_footer;
        height: variables.$height_footer;
        .footer{
            display: flex;
            flex-direction: row;
            justify-content: variables.$justify_content_footer;
            align-items: center;
        }
        .redes img{
            height: variables.$height_icono_redes;
            padding-left: variables.$padding_left_icono_redes;
            padding-right: variables.$padding_right_icono_redes;
            margin-top: variables.$margin_top_footer;
        }
    }
}


@media (max-width: 768px) {

    .grid_container_portfolio{
        
        header{
            width: variables.$width_header_r;
            height: variables.$height_header_r;
            .logo img{
                width: variables.$width_logo_r;
                margin-left: 30px;
                margin-right: 100px;
                margin-top: 2px;
            }
        }
        
        main{
            height: 100vh;
            width: 100vw;
            h1{
                font-size: variables.$size_h1_r;
            }
        }
    }
}