@use './variables.scss';
@use './header.scss';
@use './footer.scss';

.grid_container_servicios{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4 1fr);
    grid-template-areas:
        "header"
        "main"
        "seccion"
        "footer";
    main{
        grid-area: main;
        background-image: url(../img/portada_servicios.jpg);
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: variables.$width_header;
        h1{
            font-family: variables.$font_h1;
            font-size: variables.$size_h1;
            color: variables.$color_h1;
            font-weight: variables.$font_weight_h1;
            text-align: center;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    section{
        grid-area: seccion;
        display: flex;
        flex-direction: column;
        li img{
            height: 200px;
        }
        #lista_servicios_left{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: variables.$background_color_1;
            text-align:left;
            padding: 150px;
        }
        #lista_servicios_right{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: variables.$background_color_2;
            text-align:right;
            padding: 150px;
        }
        h2{
            font-family: variables.$font_h3;
            font-size: 3.5rem;
            color: variables.$color_h3;
            padding-bottom: 20px;
            padding-left: 100px;
            padding-right: 100px;
        }
        p{
            font-family: variables.$font_p;
            color: variables.$color_p;
            font-size: 2rem;
            padding-left: 100px;
            padding-right: 100px;
        }
    }
}


@media (max-width: 768px) {

    .grid_container_servicios{
        width: 100vw;
        main{
            height: 100vh;
            width: 100vw;
            h1{
                font-size: variables.$size_h1_r;
            }
        }

        section{
            width: 100vw;
            li img{
               height: 100px;
            }
            li{
               height: 50vh;
               overflow: hidden;
            }
            #lista_servicios_left{
                padding: 20px;  
            }
            #lista_servicios_right{
                padding: 20px;  
            }
            h2{
                padding-left: 20px;
                padding-right: 20px;
                font-size: 2.5rem;
            }
            p{
                padding-left: 20px;
                padding-right: 20px;
                font-size: 1.5rem;
            }
        }
    }
}


@media (max-width: 320px) {

    .grid_container_servicios{
        section{
            li img{
                height: 80px;
             }
             #lista_servicios_left{
                padding: 10px;  
            }
            #lista_servicios_right{
                padding: 10px;  
            }
            h2{
                padding-left: 10px;
                padding-right: 10px;
            }
            p{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}