/* FUENTES */

@font-face {
    font-family: julyit;
    src: url(../fuentes/julyit.otf);
}

@font-face {
    font-family: advent;
    src: url(../fuentes/advent.otf);
}

@font-face {
    font-family: tiffanyscript;
    src: url(../fuentes/tiffanyscript.ttf);
}


/* COLORES BACKGROUND */

$background_color_1: #faf9f7;
$background_color_2: #f4f1e9;


/* TITULO 1 */

$font_h1: tiffanyscript;
$size_h1: 4rem;
$color_h1: black;
$font_weight_h1: bold;
$text_align_h1: center;
$size_h1_r: 3rem;


/* TITULO 2 */

$font_h2: tiffanyscript;
$size_h2: 4rem;
$color_h2: black;
$text_align_h2: center;

/* TITULO 3 */

$font_h3: 'Antonio', sans-serif;
$size_h3: 2rem;
$size_h3_r: 3rem;
$color_h3: black;
$text_align_h3: center;


/* PARRAFO */

$font_p: 'Antonio', sans-serif;
$size_p1: 25px;
$size_p2: 15px;
$size_p1_r: 30px;
$size_p2_r: 20px;
$color_p: #4b4b4b;


/* HEADER - LOGO - NAVBAR */

$width_logo: 150px;
$width_logo_r: 100px;
$margin_left_logo: 50px;
$margin_top_logo: 10px;

$height_header: 10vh;
$height_header_r: 9vh;
$width_header: 100%;
$width_header_r: 100vw;

$font_family_menu: Antonio;
$font_size_menu: 2rem;
$font_color_menu: #4b4b4b;
$justified_content_menu: end;
$align_items_menu: center;
$padding_left_menu2: 20px;

/* IMAGENES */

$height_imagen_principal: 100vh;
$width_imagen_principal: 100%;


/* BOTONES */

$color_boton1: #f4f1e9;
$background_color_boton1: #4b4b4b;
$font_boton1: 'Antonio', sans-serif;
$size_boton1: 2.5rem;
$text_align_boton1: center;
$width_boton1: 170px;
$height_boton1: 60px;
$border_radius_boton1: 15px;
$border_boton1: none;
$background_color_hover_boton1:#dbdbdb;
$color_font_hover_boton1: #4b4b4b;


/* FOOTER */

$background_color_footer: #4b4b4b;
$height_footer: 15vh;
$height_footer_r:10vh;
$justify_content_footer: center;
$align_items_footer: center;
$height_icono_redes: 65px;
$height_icono_redes_r: 40px;
$padding_left_icono_redes: 25px;
$padding_right_icono_redes: 25px;
$margin_top_footer: 35px;
$margin_top_footer_r: 20px;
$padding_left_icono_redes_r: 15px;
$padding_right_icono_redes_r: 15px;